<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title><%= elementName %></title>

  <script src="../../platform/platform.js"></script>
  <link rel="import" href="../../polymer-test-tools/tools.html">
  <script src="../../polymer-test-tools/htmltest.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../<%= elementName %>.html">

</head>
<body>

  <<%= elementName %>></<%= elementName %>>

  <script>

    document.addEventListener('polymer-ready', function() {
      // Test a property
      var myEl = document.querySelector('<%= elementName %>');
      assert.equal(myEl.author, 'Dimitri Glazkov');

      // Test a method
      var hello = myEl.sayHello();
      assert.equal(hello, '<%= elementName %> says, Hello World!');
      var greetings = myEl.sayHello('greetings Earthlings');
      assert.equal(greetings, '<%= elementName %> says, greetings Earthlings');

      // Test an event
      myEl.addEventListener('<%= elementName %>-lasers-success', function(event) {
        assert.equal(event.detail.sound, 'Pew pew pew!');
        // IMPORTANT:
        // Make sure to call done() at the end of every test suite!
        done();
      });
      myEl.fireLasers();
    });

  </script>

</body>
</html>
