<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= elementName %></title>

  <script src="../../webcomponentsjs/webcomponents.js"></script>
  <script src="../../web-component-tester/browser.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../<%= elementName %>.html">

</head>
<body>

  <<%= elementName %> id="fixture"></<%= elementName %>>

  <script>
    var myEl = document.getElementById('fixture');

    suite('<<%= elementName %>>', function() {

      test('defines the "author" property', function() {
        assert.equal(myEl.author, 'Dimitri Glazkov');
      });

      test('says hello', function() {
        assert.equal(myEl.sayHello(), '<%= elementName %> says, Hello World!');
        var greetings = myEl.sayHello('greetings Earthlings');
        assert.equal(greetings, '<%= elementName %> says, greetings Earthlings');
      });

      test('fires lasers', function(done) {
        myEl.addEventListener('<%= elementName %>-lasers-success', function(event) {
          assert.equal(event.detail.sound, 'Pew pew pew!');
          done();
        });
        myEl.fireLasers();
      });

    });
  </script>

</body>
</html>
