<polymer-element name="<%= _.camelize(name) %>-element" <% if (includeConstructor) { %> constructor="<%= _.classify(name) %>Element"<% } %> attributes="">
  <template>
    <style>
      @host { :scope {display: block;} }
    </style>
    <span>I'm <b><%= _.camelize(name) %>-element</b>. This is my Shadow DOM.</span>
  </template>
  <script>
    Polymer('<%= _.camelize(name) %>-element', {
      //applyAuthorStyles: true,
      //resetStyleInheritance: true,
      ready: function() { },
      enteredDocument: function() { },
      leftDocument: function() { },
      attributeChanged: function(attrName, oldVal, newVal) { }
    });
  </script>
</polymer-element>