<polymer-element name="<%= _.camelize(name) %>-element" <% if (includeConstructor) { %> constructor="<%= _.classify(name) %>Element"<% } %> attributes="<% _.each(attrs, function(attr){ %><%=attr.name%> <% }); %>">

  <%_.each(others, function(el){ %><link rel="import" href="<%=el%>.html"<%});%>>
  <template>
    <style>
      @host { :scope {display: block;} }
    </style>
    <span>I'm <b><%= _.camelize(name) %>-element</b>. This is my Shadow DOM.</span>
  </template>
  <script>
    Polymer('<%= _.camelize(name) %>-element', {
      <% _.each(attrs, function(attr){ %><% if (attr.default) { %><%=attr.name%>: <%=attr.default%>,<% } %><% }); %>
      applyAuthorStyles: <%= applyAuthorStyles %>,
      //resetStyleInheritance: true,
      created: function() { },
      enteredDocument: function() { },
      leftDocument: function() { },
    
      attributeChanged: function(name, oldVal) {
        this.fire(name+":changed", {value: self.getAttribute(name)});
        switch(name){
        <% _.each(attrs, function(attr){ %>
          case "<%=attr.name%>":
            break;
        <% }); %>
          default:
            break;
        }
      }
    
    });
  </script>
</polymer-element>