<!doctype html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Core Elements Test Runner</title>
    <meta charset="UTF-8">

    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
    <script src="../bower_components/web-component-tester/browser.js"></script>
  </head>

  <body>

    <script>
      WCT.loadSuites(['yo-greeting-basic.html', 'yo-list-basic.html']);
    </script>


  </body>

</html>
