<link rel="import"
  href="../bower_components/polymer-test-tools/tools.html">

<script src="../bower_components/polymer-test-tools/mocha-htmltest.js">
</script>

<script>

  mocha.setup({ui: 'tdd', slow: 1000, timeout: 5000, htmlbase: ''});

  // Below is a set of sample element test suites.
  // Replace these with your own suites of tests.

  htmlSuite('yo-greeting', function() {
    htmlTest('yo-greeting-basic.html');
  });

  htmlSuite('yo-list', function() {
    htmlTest('yo-list-basic.html');
  });

  // End sample test suites

  mocha.run();

</script>
