<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>yo-greeting-basic</title>

  <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
  <script src="../bower_components/web-component-tester/browser.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../elements/yo-greeting/yo-greeting.html">

</head>
<body>

  <yo-greeting id="fixture"></yo-greeting>

  <script>
    suite('yo-greeting', function() {
      test('Allo, Allo!', function() {
        var el = document.querySelector('yo-greeting');
        var header = el.shadowRoot.querySelector('h1');
        assert.equal(header.textContent, '\'Allo, \'Allo!');
      })
    });
  </script>

</body>
</html>
