<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>poly foo</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild-->

  <!-- build:js /bower_components/webcomponentsjs/webcomponents.min.js -->
  <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with /elements/elements.vulcanized.html -->
  <link rel="import" href="/elements/elements.html">
  <!-- endreplace-->
</head>

<body unresolved fullbleed layout vertical>
  <template is="auto-binding" id="app">

    <core-drawer-panel>

      <!-- Drawer -->
      <core-header-panel drawer>

        <!-- Drawer Toolbar -->
        <core-toolbar>Menu</core-toolbar>

        <!-- Drawer Content -->
        <core-menu selected="0">
          <core-item label="Yo"></core-item>
          <core-item label="Polymer"></core-item>
          <core-item label="App"></core-item>
        </core-menu>

      </core-header-panel>

      <!-- Main -->
      <core-header-panel main>

        <!-- Main Toolbar -->
        <core-toolbar>
          <paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
          <span>{{appName}}</span>
        </core-toolbar>

        <!-- Main Content -->
        <div class="hero-unit">
          <yo-greeting></yo-greeting>
          <p>You now have</p>
          <yo-list></yo-list>
        </div>
      </core-header-panel>
    </core-drawer-panel>

  </template>

  <!-- build:js /scripts/app.js -->
  <script src="/scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
