<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="yo-list"  attributes="">
  <template>
    <link rel="stylesheet" href="yo-list.css">
    <ul>
      <template id="greeting" repeat="{{ item in items }}">
        <li>{{ item }}</li>
      </template>
    </ul>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        ready: function() {
          this.items = [
            'HTML5 Boilerplate',
            'Web Component Polyfills',
            <% if (includeCore) { %>'Core Elements', <% } %>
            <% if (includePaper) { %>'Paper Elements', <% } %>
            'Polymer'
          ];
        }
      });

    })();
  </script>
</polymer-element>
