<link rel="import" href="../../bower_components/polymer/polymer.html">
<% if(components) {
  components.forEach(function(componentName){
%>
<link rel="import" href="../../bower_components/<%= componentName %>/<%= componentName %>.html">
<% });} %>
<polymer-element name="<%= elementName %>" attributes="">
  <template><% if (!externalStyle) { %>
    <style>
      :host {
        display: block;
      }
    </style><% } else { %>
    <link rel="stylesheet" href="<%= elementName %>.css"><% } %>
  </template>
  <script>
    (function () {

      Polymer({
        // define element prototype here
      });

    })();
  </script>
</polymer-element>
