<link rel="import" href="bower_components/polymer/polymer.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <<%= _.slugify(elementName) %>></<%= _.slugify(elementName) %>>

@element <%= _.slugify(elementName) %>
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://<%= ghUser %>.github.io/<%= _.slugify(elementName) %>
-->
<polymer-element name="<%= _.slugify(elementName) %>" attributes="notitle">

  <template>

    <link rel="stylesheet" href="<%= _.slugify(elementName) %>.css" />

    <content></content>

  </template>

  <script>

    Polymer('<%= _.slugify(elementName) %>', {
      /**
       * The `noevent` event is not actually fired from here,
       * we document it as an example of documenting events.
       *
       * @event noevent
       */

      /**
       * The `notitle` attribute does not yet have a purpose.
       *
       * @attribute notitle
       * @type string
       */
      notitle: '',

      /**
       * The `aProp` is a property that does something cool.
       *
       * @property aProp
       * @type bool
       */
      aProp: false,

      ready: function() {
      },

      /**
       * The `task` method does no work at this time.
       *
       * @method task
       * @return {Object} Returns undefined.
       * @param {String} dummy Serves no purpose today.
       */
      task: function(dummy) {
      }

    });

  </script>

</polymer-element>
